/* app css stylesheet */
body {
    background-color: #f5f6f9
}

/* .appContainer {
    max-width: 55rem;
}

.appContainer>.tableWrapper {
    max-width: 68rem;
} */

.formContainer {
    max-width: 55rem;
}

.tableContainer {
    max-width: 68rem;
}